@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);


/* Bandeau de navigation (haut) */

.top-page {
    background-image: url("/site/maquette (adobe XD)/Page 2 (Selection)/fond/fond@2x.png");
    height: 6vh;
    text-align: center;
    align-items: center;
    margin: 0;
}

.logo {
    text-decoration: none;
    list-style: none;
}

nav.nav1 li{
    text-align: center;
}


/* Bandeau de navigation n°2 (haut/millieu) bouton1 ("revenir à l'accueil")*/

.top-page2 {
    text-align: center;
    align-items: center;
}

nav.nav2 li{
    text-align: center;
    margin-top: 3vh;
}

.bouton1 {
    text-decoration: none;
    list-style: none;
}


/* bandeau de navigation n°3(millieu/bas) ligne + audio/vidéo logo */

html {
    height: 100%;
}

* {
    margin: 0; 
    padding: 0; 
}

.gauche {
    height: 100%;
    width: 50%;
    float: left;
    /* background-color: red; */
}
.gauche {
    text-align: center;
    align-items: center;
}

.droite {
    /* height: 3500px; */
    height: 3500px;
    width: 49%;
    float: left;
    /* background-color: blue; */
}
.droite {
    text-align: center;
    align-items: center;
    border-left-style: ridge;
    margin-bottom: 2vh;
}







/* pied de page 1 bouton (haut de page)*/

.bouton2 {
    text-align: center;
    align-items: center;
}

body {

    margin: 0;

    text-decoration: none;
    list-style: none;

    height: 100%;
}

.footer {
    list-style: none;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 25px;
}

html { 
    scroll-behavior: smooth; 
}
