@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);


/* haut de page (bouton Menu) */

nav.nav1 li{
    color: white;
    text-decoration: none;
	list-style: none;
	text-align: center;

}

body {
    background-color: black; 
}




/* Liste de programmes 1 */

.liste-programme1 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.arte1 {
    flex-basis: auto;
    height: 100px;
    color: white;

    display: flex;
    align-items: center;
    flex-direction: center;
}

.arte2 {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}

.arte3 {
    flex-basis: auto;
    height: 100px;
    color: white;    
    text-align: center;
}

.arte4 {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}

.arte5 {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}




/* liste de programmes 2 */

.liste-programme2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-left: 150px;
    margin-right: 15px;
}

.francetv {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}

.fr2 {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}

.fr3 {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}

.fr4 {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}

.fr5 {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}




/* liste de programme 3 */

.liste-programme3 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.ytb-accueil {
    flex-basis: auto;
    /* height: 100px; */
    color: white;
    text-align: center;
}

.ytb-explorer {
    flex-basis: auto;
    /* height: 100px; */
    color: white;
    text-align: center;
}

.ytb-subcriptions {
    flex-basis: auto;
    /* height: 100px; */
    color: white;
    text-align: center;
}

.ytb-playlist {
    flex-basis: auto;
    /* height: 100px; */
    color: white;
    text-align: center;
}



/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.netlify {
    text-decoration: none;
    color: white;
    list-style: none;
}

footer a.github {
    text-decoration: none;
    color: white;
    list-style: none;
}

footer p.copyright {
    text-decoration: none;
    color: white;
    list-style: none;
}