@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);



/* haut de page (bouton menu) */

nav.nav1 li{
    color: white;
    text-decoration: none;
	list-style: none;
    margin-left: 39%;
    margin-top: 100px;
}

/* Body */

body {
    background-color: black;
}



/* liste de programmes 1 */

.titre-deezer {
    color: white;
    font-size: 50px;
    font-family: 'Monserat';
    margin-left: 10%;
}

.liste-programme1 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
}

.deezer {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: 'Abril FatFace';
}



/* liste programme 2 */

.titre-fip {
    color: white;
    font-size: 50px;
    font-family: 'Monserat';
    margin-left: 100px;
    margin: 50px;
    margin-left: 10%;
}

.liste-programme2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    margin-right: 25px;
    margin-left: 65px;
}

.fip {
    flex-basis: auto;
    height: 100px;
    color: white;
    text-align: center;
}



/* ################################# Pied de Page #################################### --> */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.netlify {
    text-decoration: none;
    color: white;
    list-style: none;
}

footer a.github {
    text-decoration: none;
    color: white;
    list-style: none;
}

footer p.copyright {
    text-decoration: none;
    color: white;
    list-style: none;
}