@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.google.com/specimen/Red+Hat+Display);
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap);
@import url(https://fonts.googleapis.com/css?family=Red Hat Display);

/* Bandeau de navigation (haut) */

.top-page {
    background-image: url("/site/maquette (adobe XD)/Page 2 (Selection)/fond/fond@2x.png");
    height: 6vh;
    text-align: center;
    align-items: center;
    margin: 0;
}

.logo {
    text-decoration: none;
    list-style: none;
}

nav.nav1 li{
    text-align: center;
}


/* Bandeau de navigation n°2 (haut/millieu) bouton1 ("revenir à l'accueil")*/

.top-page2 {
    text-align: center;
    align-items: center;
}

nav.nav2 li{
    text-align: center;
    margin-top: 3vh;
}

.bouton1 {
    text-decoration: none;
    list-style: none;
}


/* construction des deux parties Gauche Droite */

html {
    height: 100%;
}

/* * {
    margin: 0; 
    padding: 0; 
} */

.gauche {
    height: 2000px; /* 3500px (valeur final)*/
    /* height: 100%; */
    width: 50%;
    float: left;
    /* background-color: red; */

}
.gauche a {
    text-align: left;
    align-items: left;
}
.gauche {
    text-align: center;
    align-items: center;
}


.droite {
    height: 2000px;
    width: 49%;
    float: left;
    /* background-color: blue; */
}
.droite {
    text-align: center;
    align-items: center;
    border-left-style: ridge;
    margin-bottom: 2vh;
}

/* bandeau de navigation n°3(millieu/bas) ligne + audio/vidéo logo */

/* .audio {
    text-align: center;
    align-items: center;
} */

/* Deezer  */

.deezer {
    text-align: left;
    margin-right: 10vh;
}

.titre-deezer {
    text-align: left;
    margin-left: 35%;
    font-size: 40px;
    font-weight: 900;
}

.div-img-deezer {
    width: 40%;
    float: left;
    text-align: center;
    height: 250px;
    
    /* background-color: blueviolet; */

}
.div-img-deezer li {
    margin-top: 45px;
    /* background-color: blueviolet; */

}

.text-deezer {
    width: 60%;
    float: center;
    font-size: 35px;
    text-align: left;
    /* background-color: red; */
}

.bouton-deezer {
    text-align: right;
    align-items: right;
    float: right;
}




/* Fip  */

.fip {
    text-align: left;
    margin-right: 10vh;
}

.titre-fip {
    text-align: left;
    margin-left: 35%;
    font-size: 40px;
    font-weight: 900;
}

.img-fip {
    width: 40%;
    float: left;
    /* background-color: blueviolet; */
    text-align: center;
}


.text-fip {
    width: 60%;
    float: center;
    font-size: 35px;
    text-align: left;
    /* background-color: red; */
}

.bouton-fip {
    text-align: right;
    align-items: right;
    float: right;
}


######################## VIDEO ########################

/* youtube  */

.youtube {
    /* text-align: left; */
    margin-right: 10vh;
}

.titre-youtube {
    text-align: left;
    margin-left: 30%;
    font-size: 40px;
    font-weight: 900;
    /* background-color: blueviolet; */

}

.div-img-youtube {
    width: 39%;
    float: left;
    text-align: center;
    height: 250px;
   
    /* background-color: blueviolet; */

}
.div-img-youtube li {
    margin-top: -20px;
}


.text-youtube {
    width: 59%;
    float: left;
    font-size: 35px;
    text-align: left;
    /* background-color: red; */

    margin-right: 1.9vh;
}

.bouton-youtube {
    text-align: right;
    align-items: right;
    float: right;
    margin-right: 10vh;
}

/* Arte  */

.arte {
    text-align: left;
    margin-right: 10vh;
}

.titre-arte {
    text-align: left;
    margin-left: 35%;
    font-size: 40px;
    font-weight: 900;
}

.img-arte {
    width: 40%;
    float: left;
    /* background-color: blueviolet; */
    text-align: center;
    height: 200px;
}


.text-arte {
    width: 60%;
    float: center;
    font-size: 35px;
    text-align: left;
    /* background-color: red; */
}

.bouton-arte {
    text-align: right;
    align-items: right;
    float: right;
}




/* pied de page 1 bouton (haut de page)*/

.bouton2 {
    text-align: center;
    align-items: center;
}

body {

    margin: 0;

    text-decoration: none;
    list-style: none;

    height: 100%;
}

.footer {
    list-style: none;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 25px;
}

html { 
    scroll-behavior: smooth; 
}