@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);


body {
    background-color: rgb(14, 31, 87);
    background-color: black;
} 

/* menu de vavigation */

nav.nav1 li a {
    color: white;
    text-decoration: none;

	font-size: 80px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
}

nav.nav1 li{
    color: white;
    text-decoration: none;
	list-style: none;
	text-align: center;

/* ça marche */
/* centralisation verticale */

    margin-top: 27vh;
    transform: translateY(-50%); 


  
}


/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  100px;
    font-weight: 600;
    margin-top: 10%;
}

footer a.netlify {
    text-decoration: none;
    color: white;
    list-style: none;
}

footer a.github {
    text-decoration: none;
    color: white;
    list-style: none;
}

footer p.copyright {
    text-decoration: none;
    color: white;
    list-style: none;
}